n8n/workflows/checklist_dinamico.json
{
  "name": "Checklist Jurídico Dinâmico",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "webhook"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "checklist-dinamico"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM checklists_juridicos WHERE tipo_acao = $1 ORDER BY ordem, documento_obrigatorio",
        "additionalFields": {
          "queryParameters": "={{ $json.body.tipo_acao }}"
        }
      },
      "id": "get-checklist-template",
      "name": "Buscar Template Checklist",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL JurisPilot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.* FROM documentos d WHERE d.caso_id = $1",
        "additionalFields": {
          "queryParameters": "={{ $json.body.caso_id }}"
        }
      },
      "id": "get-documentos",
      "name": "Buscar Documentos Recebidos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL JurisPilot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Valida checklist e identifica documentos faltantes\nconst template = $input.first().json;\nconst documentos = $input.all().slice(1).map(item => item.json);\nconst casoId = $('Webhook Trigger').item.json.body.caso_id;\n\nconst tiposRecebidos = documentos.map(d => d.tipo_documento?.toLowerCase() || '');\n\nconst checklistItems = [];\nconst documentosFaltantes = [];\n\n// Processa template (assumindo que vem como array)\nconst templateArray = Array.isArray(template) ? template : [template];\n\nfor (const item of templateArray) {\n  const docNome = item.documento_obrigatorio?.toLowerCase() || '';\n  const isObrigatorio = !item.documento_recomendado;\n  \n  // Verifica se documento foi recebido\n  const recebido = tiposRecebidos.some(tipo => \n    docNome.includes(tipo) || tipo.includes(docNome)\n  );\n  \n  const checklistItem = {\n    checklist_juridico_id: item.id,\n    caso_id: casoId,\n    status: recebido ? 'recebido' : 'pendente',\n    documento_id: recebido ? documentos.find(d => \n      d.tipo_documento?.toLowerCase().includes(docNome) ||\n      docNome.includes(d.tipo_documento?.toLowerCase())\n    )?.id : null\n  };\n  \n  checklistItems.push(checklistItem);\n  \n  if (!recebido && isObrigatorio) {\n    documentosFaltantes.push(item.documento_obrigatorio);\n  }\n}\n\n// Calcula percentual de completude\nconst totalObrigatorios = templateArray.filter(i => !i.documento_recomendado).length;\nconst recebidosObrigatorios = checklistItems.filter(i => i.status === 'recebido' && \n  templateArray.find(t => t.id === i.checklist_juridico_id && !t.documento_recomendado)\n).length;\n\nconst percentualCompletude = totalObrigatorios > 0 \n  ? (recebidosObrigatorios / totalObrigatorios * 100).toFixed(2)\n  : 0;\n\nreturn {\n  json: {\n    caso_id: casoId,\n    checklist_items: checklistItems,\n    documentos_faltantes: documentosFaltantes,\n    percentual_completude: parseFloat(percentualCompletude),\n    total_obrigatorios: totalObrigatorios,\n    recebidos_obrigatorios: recebidosObrigatorios\n  }\n};"
      },
      "id": "validate-checklist",
      "name": "Validar Checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "checklists_caso",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "caso_id": "={{ $json.caso_id }}",
            "checklist_juridico_id": "={{ $json.checklist_juridico_id }}",
            "documento_id": "={{ $json.documento_id }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "id": "save-checklist",
      "name": "Salvar Checklist",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL JurisPilot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-completude",
              "leftValue": "={{ $json.percentual_completude }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-complete",
      "name": "Checklist Completo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/caso/{{ $json.caso_id }}/gerar-resumo",
        "authentication": "none",
        "method": "POST",
        "options": {}
      },
      "id": "trigger-resumo",
      "name": "Gerar Resumo Jurídico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Webhook Trigger').item.json.body.telefone }}\",\n  \"message\": \"⚠️ Seu checklist ainda não está completo.\\n\\nDocumentos faltantes:\\n{{ $json.documentos_faltantes.join('\\n') }}\\n\\nCompletude: {{ $json.percentual_completude }}%\"\n}",
        "options": {}
      },
      "id": "send-alert",
      "name": "Enviar Alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp API"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Buscar Template Checklist", "type": "main", "index": 0}, {"node": "Buscar Documentos Recebidos", "type": "main", "index": 0}]]
    },
    "Buscar Template Checklist": {
      "main": [[{"node": "Validar Checklist", "type": "main", "index": 0}]]
    },
    "Buscar Documentos Recebidos": {
      "main": [[{"node": "Validar Checklist", "type": "main", "index": 0}]]
    },
    "Validar Checklist": {
      "main": [[{"node": "Salvar Checklist", "type": "main", "index": 0}]]
    },
    "Salvar Checklist": {
      "main": [[{"node": "Checklist Completo?", "type": "main", "index": 0}]]
    },
    "Checklist Completo?": {
      "main": [[{"node": "Gerar Resumo Jurídico", "type": "main", "index": 0}], [{"node": "Enviar Alerta", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-14T12:00:00.000Z",
  "versionId": "1"
}

