n8n/workflows/descumprimento_contratual.json
{
  "name": "Descumprimento Contratual",
  "nodes": [
    {
      "parameters": {"triggerOn": "webhook"},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "descumprimento-contratual"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT d.* FROM documentos d WHERE d.caso_id = $1",
        "additionalFields": {"queryParameters": "={{ $json.body.caso_id }}"}
      },
      "id": "get-docs",
      "name": "Buscar Documentos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {"postgres": {"id": "postgres-credentials", "name": "PostgreSQL JurisPilot"}}
    },
    {
      "parameters": {
        "jsCode": "// Organiza documentos juridicamente\nconst docs = $input.all().map(item => item.json);\n\nconst contratos = docs.filter(d => {\n  const tipo = d.tipo_documento?.toLowerCase() || '';\n  return tipo.includes('contrato');\n});\n\nconst aditivos = docs.filter(d => {\n  const tipo = d.tipo_documento?.toLowerCase() || '';\n  return tipo.includes('aditivo');\n});\n\nconst provasDescumprimento = docs.filter(d => {\n  const tipo = d.tipo_documento?.toLowerCase() || '';\n  return tipo.includes('descumprimento') || tipo.includes('violação') || tipo.includes('violacao');\n});\n\nconst comunicacoes = docs.filter(d => {\n  const tipo = d.tipo_documento?.toLowerCase() || '';\n  return tipo.includes('email') || tipo.includes('comunicação') || tipo.includes('comunicacao');\n});\n\nreturn {\n  json: {\n    caso_id: $('Webhook Trigger').item.json.body.caso_id,\n    organizacao_juridica: {\n      contratos: contratos.map(d => ({id: d.id, tipo: d.tipo_documento})),\n      aditivos: aditivos.map(d => ({id: d.id, tipo: d.tipo_documento})),\n      provas_descumprimento: provasDescumprimento.map(d => ({id: d.id, tipo: d.tipo_documento})),\n      comunicacoes: comunicacoes.map(d => ({id: d.id, tipo: d.tipo_documento}))\n    }\n  }\n};"
      },
      "id": "organize-legal",
      "name": "Organizar Juridicamente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Buscar Documentos", "type": "main", "index": 0}]]},
    "Buscar Documentos": {"main": [[{"node": "Organizar Juridicamente", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-14T12:00:00.000Z",
  "versionId": "1"
}

